#b1 {
    background-color: rgb(205, 1, 1);
    color: white;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.2s;
  }

  #b1:hover {
    opacity: 0.7;
  }

  #b1:active {
    opacity: 0.4;
  }

  #b2 {
    color: rgb(67, 67, 243);
    border-color: rgb(67, 67, 243);
    height: 30px;
    width: 50px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
  }

  #b2:hover {
    background-color: blue;
    color: white;
  }

  #b2:active {
    opacity: 0.7;
  }
  #b3 {
    background-color: rgb(2, 158, 255);
    border: none;
    border-radius: 15px;
    color: white;
    height: 30px;
    width: 65px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    transition: box-shadow 0.2s;
  }

  #b3:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  }